@use "../../sassStyles/variables";
@use "../../sassStyles/mixins";

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-bottom: 40px;
  // width: 1000px;
}

@media only screen and (max-width: 600px) {
  .main {
    grid-template-columns: 1fr;
  }
}
