@use "../../sassStyles/variables";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid variables.$card-background-color;

  h4 {
    cursor: pointer;
    font-size: 22px;
  }

  ul {
    display: flex;

    li {
      list-style: none;
      margin-left: 2rem;
      cursor: pointer;
      transition: all 0.5s;
      font-weight: 500;

      &:hover {
        color: variables.$card-background-color;
      }
    }
  }
}
