@use "../../sassStyles/variables";
@use "../../sassStyles/mixins";

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 436px;
  perspective: 1000px;
  cursor: pointer;

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    .flip-card-front,
    .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .flip-card-front {
      background-color: #fff;
      color: black;

      h3 {
        padding: 0px 8px;
      }

      img {
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: 8px 8px 0px 0px;
      }
    }

    .flip-card-back {
      @include mixins.flexMiddle;
      color: white;
      transform: rotateY(180deg);
      background: variables.$card-background-color;

      p {
        margin: 20px;
      }
    }
  }

  &:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
}
